@import "../../index.css";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #1a1a1a;
  border-radius: 15px;
  margin-bottom: 2rem;

  &__left {
    display: flex;
    align-items: center;
  }

  &__arrowToLeft {
    width: 2.5rem;
    cursor: pointer;
    transform: rotate(-90deg);
    margin-right: 0.5rem; /* Reduce the margin to bring the arrow closer to the text */
  }

  &__logo {
    width: 5rem;
    height: auto;
    order: 2; /* Ensure the logo is on the right */
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 1; /* Ensure the text is on the left */
  }

  &__title {
    font-family: pocketMonk, Arial, sans-serif;
    font-size: 3rem;
    color: #f1cd45;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
  }
}